@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Cantarell);

.header {
  background-color: hsl(38, 68%, 74%);
}

h3 {
  font-family: 'Fjalla One', sans-serif;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
}
